.idea/
*.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.venv
.env
Thumbs.db
*.pyc
app/*.pyc
app/__pycache__/*.pyc
venv
Desktop.ini

mrlEyes_2018_01
mrlEyes_open_closed